.game {
    padding-right: 0;
    float: none;
    position: relative;
    padding: 2em 0 1em 0;
    margin: 0.5em 0;
    border-top: 1px solid #ccc;
    
}
header {
    background-color: #272835;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 997;

}
.voin{
    width: 100%;
}
.text{
    font-family: Impact;
    margin-bottom: 15px;
    margin-top: 100px;
    
}
.text_top{
    font-family:Verdana;
    margin-top: 20px;
    font-size: 21px;
    margin-bottom: 50px;
}
.kartinka{
    object-position: 5 em;
    float: left;
    
   width: 78px ;
   height:78px ;
   border-radius: 10% ;
}
.form-floating{
    margin:50px 0px;
}
.position-relative{
    margin-left: 88em;
    margin-top: -20px;
}
.btn-primary{
    margin:20px 0 ;

}
.btn{
    margin-left:30px ;
}
.otstup{
    position: fixed;
    margin-left: 45em ;
}
.firma{
    width: 50px ;
    height: 50px;
    border-radius: 25px;
    float: left;
    margin: 15px 25px;
}
p{
    font-family:Comic Sans MS;
    
}
h2{
    font-family:Arial Black;
    margin: 0 3em;
    margin-bottom: 50px;
}
.dno{
    background-color: #272835;
    padding: 2em 0;
    font-size: .9em;
    margin-top: 2em;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.shurota{
    margin-bottom: 50px;
    margin: 0 350px ; 
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #000;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

}
.otstuptext{
    margin-left: 45em;
}